/**
***此样式文件为3.7版本首页样式
**/
html.index37-bg{background-color: #f4f4f4;}
html.index37-bg body{background-color: #f4f4f4;}

/*搜索部分*/
.function-wrap{width: 100%;background-color: #ececec;padding-top: 40px;height: 110px;}
.function-wrap .search-area{}
.function-wrap .search-area .search-wrap{height: 52px;}
.function-wrap .search-area .search-wrap .search-box{border:3px solid #fa8435;border-right:0;height: 46px;background-color: #fff;width: 547px;}
.function-wrap .search-area .search-wrap .search-box .search-type{width: 120px;position: relative;z-index: 10;}
.function-wrap .search-area .search-wrap .search-box .search-type .search-type-show{padding-left: 25px;line-height: 46px;position: relative;font-size: 16px;color:#666;background-color: #eeeeee;border-right:1px solid #e2e2e2;cursor: pointer;*position: static;}
.function-wrap .search-area .search-wrap .search-box .search-type .search-type-show .search-icon{position: absolute;top:20px;right:25px;width: 0;height: 0;border-width:6px;border-color:#adadad transparent transparent transparent;border-style:solid dashed dashed dashed;}
.function-wrap .search-area .search-wrap .search-box .search-type .search-type-drop{position: absolute;top:46px;left:-3px;background-color: #eee;border:3px solid #fa8435;border-top:0;width: 120px;height: 46px;overflow: hidden;display: none;}
.function-wrap .search-area .search-wrap .search-box .search-type .search-type-drop a{display: block;font-size: 16px;color:#666;padding-left: 25px;line-height: 46px;}
.function-wrap .search-area .search-wrap .search-box .search-text{height: 46px;overflow: hidden;width: 416px;}
.function-wrap .search-area .search-wrap .search-box .search-text input{padding:13px 20px;font-size: 16px;color:#666;line-height: 20px;border:0;width:376px;}
.function-wrap .search-area .search-wrap .search-submit{height: 52px;width: 120px;overflow: hidden;}
.function-wrap .search-area .search-wrap .search-submit .search-submit-btn{color:#fff;width: 120px;height: 52px;background-color: #fa8435;border:0;font-size: 18px;cursor: pointer;}
.function-wrap .search-area .search-wrap .high-level-search{font-size: 14px;color:#666;line-height: 20px;margin:6px 0 0 10px;}
.function-wrap .search-area .hot-search{width: 700px;overflow: hidden;padding-top: 10px;font-size: 14px;}
.function-wrap .search-area .hot-search a{color:#aaa;margin-right: 15px;white-space: nowrap;}
.function-wrap .login-box{width: 427px;height: 52px;overflow: hidden;position: relative;}
.function-wrap .login-box .login-btn{width: 213px;height: 52px;line-height: 52px;text-align: center;color:#fff;font-size: 16px;background-color: #03c26f;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.function-wrap .login-box .login-btn.has-border{border-right:1px dashed #fff;}
.function-wrap .login-box .login-btn:hover{background-color: #03ac62;}
.function-wrap .login-box .ring{position: absolute;left:50%;margin-left: -4px;width: 7px;height: 7px;background-color: #ececec;border-radius: 50%;}
.function-wrap .login-box .ring.ring-top{top:-4px;}
.function-wrap .login-box .ring.ring-bottom{bottom:-4px;}
/*主体-急聘&公告*/
.main-area-top{margin-top: 15px;border:1px solid #ededed;height: 258px;background-color: #fff;overflow: hidden;}
.main-area-top .urgent-wrap{width: 949px;}
.main-area-top .urgent-wrap .urgent-title{padding:17px 15px;line-height: 22px;}
.main-area-top .urgent-wrap .urgent-title h3{font-size: 16px;color:#333;padding-left: 28px;background: url(../images/index-icon.png) no-repeat 0px -65px;font-weight: normal;}
.main-area-top .urgent-wrap .urgent-title a{color:#999;font-size: 14px;}
.main-area-top .urgent-wrap .urgent-list{padding: 0 15px;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item{width: 180px;margin-right: 48px;margin-bottom: 20px;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .u-job-title{font-size: 14px;line-height: 18px;margin-bottom: 7px;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .u-job-title .ujob-name{max-width:95px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;color:#666;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .u-job-title .ujob-name a{color:#666;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .u-job-title .job-pay{color:#fa8435;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .ujob-com{font-size: 14px;width: 180px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;color:#999;}
.main-area-top .urgent-wrap .urgent-list .urgent-job-item .ujob-com a{color:#999;}
.main-area-top .bulletin-box{width: 248px;height: 100%;border-left: 1px solid #ededed}
.main-area-top .bulletin-box .bulletin-wrap{padding:17px 15px;}
.main-area-top .bulletin-box .bulletin-wrap h4{font-size: 16px;color:#333;font-weight: normal;line-height: 22px;margin-bottom: 17px;}
.main-area-top .bulletin-box .bulletin-wrap .bulletin-list{font-size: 14px;max-height: 190px;overflow: hidden;}
.main-area-top .bulletin-box .bulletin-wrap .bulletin-list li{margin-bottom: 10px;line-height: 18px;width: 215px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.main-area-top .bulletin-box .bulletin-wrap .bulletin-list li a{color:#666;}
.tab-ad{margin-top: 15px;position: relative;height: 98px;overflow: hidden;}
.tab-ad .tab-ad-list{position: absolute;width: 1151px;top:0;left:0;}
.tab-ad .tab-ad-list .tab-ad-item{}
.tab-ad .tab-ad-control{position: absolute;top:0;right:10px;}
.tab-ad .tab-ad-control .ad-control{display: block;width: 16px;height: 16px;margin-top: 3px;border-radius: 50%;background-color: #c0bebf;cursor: pointer;}
.tab-ad .tab-ad-control .ad-control.active{background-color: #fa8435;}
/*广告位&标签*/
.ad-tag-wrap{margin-top: 15px;}
.ad-tag-wrap .block-ad-box{width: 928px;border:1px solid #ededed;height: 368px;background-color: #fff;overflow: hidden;}
.ad-tag-wrap .ad-tag-right{padding-left: 15px;width: 255px;height: 370px;}
.ad-tag-wrap .block-ad-box .block-ad-list{padding:16px 0 0 20px;}
.ad-tag-wrap .block-ad-box .block-ad-list .block-ad{width: 133px;height: 100px;border:1px solid #e2e2e2;position: relative;margin:0 16px 15px 0;}
.block-ad .block-ad-info{position: absolute;top:0;left:0;width: 133px;height: 100px;text-align: center;color:#fff;overflow: hidden;display: none;}
.block-ad .block-ad-info .ad-mask{position: absolute;width: 100%;height: 100%;top:0;left:0;background-color: #fa8435;opacity: 0.9;filter:alpha(opacity=90);z-index: 3;}
.block-ad .block-ad-info p,
.block-ad .block-ad-info span{position: relative;z-index: 5;}
.block-ad .block-ad-info p{font-size: 16px;padding:15px 0 8px 0;color:#fff;border-bottom:5px solid #fcb586;margin:0 5px 6px;}
.block-ad .block-ad-info span{font-size: 14px;}
.ad-tag-wrap .block-ad-box .block-ad-list .block-ad:hover .block-ad-info{display: block;}
.ad-tag-wrap .ad-tag-right .tag-box{width: 233px;height: 274px;border:1px solid #ededed;background-color: #fff;overflow: hidden;padding:0 10px;}
.ad-tag-wrap .ad-tag-right .tag-box .tag-item{background-color: #fff;width: 116px;height: 54px;line-height: 54px;border-right:1px solid #ededed;border-bottom: 1px solid #ededed;color:#666;font-size: 14px;text-align: center;}
.ad-tag-wrap .ad-tag-right .tag-box .tag-item:hover{color: #fa8435;}
.side-sm-ad{margin-top: 15px;width: 255px;height: 78px;overflow: hidden;}
/*推荐职位*/
.recommend-wrap{margin-top: 15px;}
.recommend-wrap .recommend{width: 928px;border:1px solid #ededed;height: 423px;background-color: #fff;}
.recommend-wrap .recommend .recom-title{padding:17px 15px;line-height: 22px;}
.recommend-wrap .recommend .recom-title h3{font-size: 16px;font-weight: normal;padding-left: 28px;background: url(../images/index-icon.png) no-repeat 0px -104px;}
.recommend-wrap .recommend .recom-title a{font-size: 14px;color:#999;}
.recommend-wrap .recom-side{padding-left: 15px;width: 255px;}
.recom-list{padding-left: 15px;}
.recom-list .recom-item{width: 240px;font-size: 14px;margin:0 60px 22px 0;line-height: 18px;}
.recom-list .recom-item .r-job-name{white-space: nowrap;margin-bottom: 7px;}
.recom-list .recom-item .r-job-name a{color:#0180cf;}
.recom-list .recom-item .r-job-info{color:#666;margin-bottom: 7px;}
.recom-list .recom-item .r-job-info .r-job-pay{color:#fa8435;}
.recom-list .recom-item .r-job-com a{color:#999;}
/*1200广告位*/
.ad-1200{width: 1200px;height: 60px;overflow: hidden;margin-top: 15px;}
/*数据框*/
.index-data-container{border:1px solid #ededed;background-color: #fff;margin-top: 15px;}
.index-data-container .index-data-title{padding:17px 13px;line-height: 22px;}
.index-data-container .index-data-title.photo{padding:17px 20px;}
.index-data-container .index-data-title h3{font-size: 16px;color:#333;font-weight: normal;}
.index-data-container .index-data-title a{font-size: 14px;color:#999;}
/*最新职位*/
.new-job-list{padding:0 13px 10px;font-size: 14px;}
.new-job-list .n-job-item{width: 390px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;margin-bottom: 12px;line-height: 18px;}
.new-job-list .n-job-item .n-job-com{margin-right: 10px;color:#0178c8;vertical-align: middle;}
.new-job-list .n-job-item .n-job-com img{vertical-align: middle;}
.new-job-list .n-job-item .n-job{margin-right: 4px;color:#999;}
/*照片简历*/
.photo-resumes{padding:0 20px 26px 2px;}
.photo-resumes .photo-item{width: 148px;border:1px solid #e2e2e2;margin-left: 18px;background-color: #fff;-webkit-transition: all .3s;-moz-transition: all .3s;-ms-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.photo-resumes .photo-item:hover{border-color:#0180cf;}
.photo-resumes .photo-item .photo-top{width: 70px;height: 70px;margin:14px auto 0;overflow: hidden;border-radius: 50%;}
.photo-resumes .photo-item .photo-link{text-align: center;line-height: 34px;}
.photo-resumes .photo-item .photo-link a{color:#666;font-size: 14px;}
.photo-resumes .photo-item .photo-link a:hover{color:#0180cf;}
.photo-resumes .photo-item .photo-info{height:48px;padding:12px 10px 0;background-color: #f2f2f2;font-size: 12px;color:#666;}
.photo-resumes .photo-item .photo-info p{width: 128px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;line-height: 16px;margin-bottom: 7px;}
/*新闻*/
.news-wrap{margin-top: 15px;border:1px solid #ededed;background-color: #fff;}
.news-wrap .news-img-block{width: 384px;height: 333px;overflow: hidden;}
.news-wrap .news-img-list{width: 525px;padding:0 15px;height: 333px;border:1px solid #ededed;border-top: 0;border-bottom:0;overflow: hidden;}
.news-wrap .news-img-list .news-item{padding:15px 10px;border-bottom: 1px solid #e2e2e2;max-height:80px;}
.news-wrap .news-img-list .news-item .news-content{width: 360px;}
.news-wrap .news-img-list .news-item .news-content h4{text-align: center;font-size: 14px;line-height: 18px;margin-bottom: 12px;font-weight: normal;}
.news-wrap .news-img-list .news-item .news-content h4 a{color:#666;}
.news-wrap .news-img-list .news-item .news-content p{font-size: 12px;color:#999;line-height: 20px;}
.news-wrap .news-tab-wrap{padding:0 10px;}
.news-wrap .news-tab-wrap .news-tab{height: 54px;border-bottom: 1px solid #e2e2e2;}
.news-wrap .news-tab-wrap .news-tab .news-tab-link{padding:0 11px;font-size: 14px;color:#666;line-height: 54px;position: relative;}
.news-wrap .news-tab-wrap .news-tab .news-tab-link .active-arrow{display: none;position: absolute;left:50%;bottom:-1px;width: 0;height: 0;border-width:5px;border-color:transparent transparent #e2e2e2 transparent;border-style:dashed dashed solid dashed;margin-left: -2px;}
.news-wrap .news-tab-wrap .news-tab .news-tab-link .active-arrow em{position: absolute;left:-2px;bottom:-5px;width: 0;height: 0;border-width:4px;border-color:transparent transparent #fff transparent;border-style:dashed dashed solid dashed;margin-left: -2px;}
.news-wrap .news-tab-wrap .news-tab .news-tab-link.active,
.news-wrap .news-tab-wrap .news-tab .news-tab-link:hover{color:#fa8435;}
.news-wrap .news-tab-wrap .news-tab .news-tab-link.active .active-arrow{display: block;}
.news-wrap .news-tab-wrap .tab-box{padding-top: 9px;width: 227px;margin:0 auto;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list{font-size: 13px;color:#666;display: none;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list .tabnews-img{width: 227px;height: 75px;overflow: hidden;padding-bottom: 5px;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list .tabnews-img img{vertical-align: middle;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list .tab-news{line-height: 16px;margin-top: 10px;*margin-top:7px;position: relative;padding-left: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list .tab-news .tab-icon{position: absolute;top:5px;left:0;width: 0;height: 0;border-width:3px;border-color:transparent transparent transparent #8e91a7;border-style:dashed dashed dashed solid;}
.news-wrap .news-tab-wrap .tab-box .tab-news-list .tab-news a{color:#666;}
/*友链*/
.f-link-wrap{margin-top: 15px;}
.f-link-wrap .f-link-control{border:1px solid #dddddd;border-right:0;border-bottom:0;width: 97px;}
.f-link-wrap .f-link-control .link-ctrl-item{width: 96px;height: 40px;line-height: 40px;text-align: center;border-right:1px solid #dddddd;font-size: 14px;color:#666;background-color: #eeeeee;cursor: pointer;}
.f-link-wrap .f-link-control .link-ctrl-item.select{background-color: #fff;color:#333;font-weight: bold;}
.f-link-wrap .f-link-content{border:1px solid #ddd;background-color: #fff;padding:15px 20px;}
.f-link-wrap .f-link-content .f-link-list{font-size: 13px;line-height: 28px;display: none;}
.f-link-wrap .f-link-content .f-link-list a{color:#666;margin-right: 17px;white-space: nowrap;}


















